@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
  overflow-y: hidden;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #fff6a4;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;

  position: relative;
}

.score {
  font-size: 2.8rem;
  /* color: #292929; */
  color: #c52018;

  position: absolute;
}

.score--computer {
  top: 2%;
  left: 2%;
}

.score--player {
  bottom: 20%;
  left: 2%;
}

.computer-cards,
.player-cards,
.battle-cards {
  /* https://stackoverflow.com/questions/5928059/absolute-positioning-inside-absolute-position */
  position: absolute;
  display: flex;
  height: 32%;
  /* height: 28rem */
}

.computer-cards {
  top: -7%;
}

.player-cards {
  bottom: -7%;
}

.battle-cards {
  top: 50%;
  transform: translateY(-50%);
  gap: 5rem;
}

.card-img {
  display: block;

  height: 100%;

  transition: all 0.3s;
}

.card {
  height: 100%;
  width: 100%;
  margin-right: -3.2rem;
}

.hidden {
  display: none;
}
