* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff6a4;
  line-height: 1;
  height: 100vh;
}

.container {
  position: relative;

  height: 100%;

  display: flex;
  justify-content: center;
}

.computer,
.player {
  position: absolute;
  display: flex;
  /* gap: 2rem; */
}

.computer {
  top: 1%;
}

.player {
  bottom: 4%;
}

img {
  height: 24rem;
}

.card {
  margin-right: -3.2rem;
  transition: all 0.2s;
}

.card:hover img {
  /* z-index: 999; */
  /* box-shadow: 0 0 10px black; */
  transform: scale(1.1);
}

/* .player .card:nth-child(1) {
  top: 0;
  left: 0;
  transform: rotate(-20deg);
} */
/*

.card:nth-child(2) {
  transform: rotate(-10deg);
}

.card:nth-child(3) {
  transform: rotate(-5deg);
}

.card:nth-child(4) {
  transform: rotate(10deg);
}

.card:nth-child(5) {
  transform: rotate(20deg);
} */

.hidden {
  display: none;
}
