* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
  overflow-y: hidden;
}

body {
  background-color: #fff6a4;
  line-height: 1;
}

.container {
  position: relative;

  height: 100vh;

  display: flex;
  justify-content: center;
}

.computer,
.player,
.battle {
  position: absolute;
  display: flex;
  height: 30rem;
}

.computer {
  top: -5%;
}

.player {
  bottom: -5%;
}

.battle {
  top: 50%;
  transform: translateY(-50%);

  gap: 10rem;
}

img {
  height: 100%;
  display: block;
  transition: all 0.3s;
}

.card {
  height: 100%;
  margin-right: -3.2rem;
}

.player .card:hover img {
  /* z-index: 999; */
  /* box-shadow: 0 0 10px black; */
  transform: scale(1.4) translateY(-50%);
  cursor: pointer;
}

.player .card {
  position: absolute;
}

.player .card:nth-child(1) {
  top: 0;
  left: -40rem;
  transform: rotate(-20deg);
}

.player .card:nth-child(2) {
  top: -3rem;
  left: -25rem;
  transform: rotate(-10deg);
}

.player .card:nth-child(3) {
  top: -4rem;
  left: -10rem;
  transform: rotate(-5deg);
}

.player .card:nth-child(4) {
  top: -4rem;
  left: 5rem;
  transform: rotate(0deg);
}

.player .card:nth-child(5) {
  top: -2rem;
  left: 20rem;
  transform: rotate(10deg);
}

.player .card:nth-child(1):hover img {
  transform: scale(1.4) translateY(-60%) rotate(20deg);
}

.player .card:nth-child(2):hover img {
  transform: scale(1.4) translateY(-60%) rotate(10deg);
}

.player .card:nth-child(3):hover img {
  transform: scale(1.4) translateY(-60%) rotate(5deg);
}

.player .card:nth-child(4):hover img {
  transform: scale(1.4) translateY(-60%);
}

.player .card:nth-child(5):hover img {
  transform: scale(1.4) translateY(-60%) rotate(-10deg);
}

.hidden {
  display: none;
}
